
.heading_reports{
    
    font-weight: 500;
    line-height: 21.78px;
    margin-top: 10px;
  }


  .report_content{
    margin-left: 0%;
  }

  .report_text{
   font-weight: 500;
    line-height: 19.36px;
    text-decoration: none;
    margin-top: 10px;
  }

